.App {
  display:flex;  
}

.App-header {
  display: flex;
  width: 100%;
  position: fixed;
}

.button-bar {
  display:flex;
  align-self: center;
  padding-top: 5px;
}

.container {
  overflow: scroll;
  padding: 1em 1em;
}

.term-name {
  display: flex;
  justify-content: center;
  margin : 0 auto;
  width: 100%;
}

.but {
  margin-left: 5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.red {
  background-color: #ff3b47;
  border-color: #9d252b;
}

.yellow {
  background-color: #FFBD44;
}

.green {
  background-color: #00CA4E;
}
